@font-face {
  font-family: "iconfont"; /* Project id 2562400 */
  src: url('./iconfont.woff2?t=1625026366989') format('woff2'),
       url('./iconfont.woff?t=1625026366989') format('woff'),
       url('./iconfont.ttf?t=1625026366989') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus-circle-fill:before {
  content: "\eb41";
}

.icon-tianjiagouwuche:before {
  content: "\e615";
}

.icon-tubiaozhizuomoban:before {
  content: "\e657";
}

.icon-vip:before {
  content: "\e601";
}

.icon-xiala1:before {
  content: "\e647";
}

.icon-xialati:before {
  content: "\e630";
}

.icon-10:before {
  content: "\e60b";
}

.icon-weixin:before {
  content: "\e7e5";
}

.icon-zhifubao:before {
  content: "\e65f";
}

.icon-xuanzhong:before {
  content: "\e64b";
}

.icon-chacha:before {
  content: "\e62f";
}

.icon-like-full:before {
  content: "\e9a2";
}

.icon-badreview-full:before {
  content: "\e9a4";
}

.icon-jiantou:before {
  content: "\e603";
}

.icon-app:before {
  content: "\e62c";
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-shuaxin:before {
  content: "\e636";
}

.icon-yunhang-:before {
  content: "\e60a";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-sort-up-full:before {
  content: "\ea4c";
}

.icon-sort-down-full:before {
  content: "\ea4d";
}

.icon-yonghushezhi:before {
  content: "\ef98";
}

